*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato';
}

body{
    background: #d1bb84;
    background: linear-gradient(45deg,#d1bb84 27%  ,#596A6F 100%);
    height: 100vh;
    display: flex;
    
}

.vl{
    height: 75px;
    position: fixed;
    float: left;
    left: 40px;
    top: 8.5%;
    border:2px solid #000000;
    box-shadow: 2px 4px 4px rgba(48, 48, 47, 0.9);
}

.p{
    position: absolute;
    color: #1d1c1a;
    top: 10%;
    left: 5%;
    font-size: 35px;
    text-shadow: 2px 4px 4px rgba(48, 48, 47, 0.9);
}

.card, .card1, .card2, .card3, .card4, .card5{
    position: absolute;
    background-color: beige;
    width: 250px;
    height: 100px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.34);
    border-radius: 15px;
    transition: all 0.4s ease-in-out;
}

.card{
    left: 25%;
    top: 12.5%;
}

.card1{
    left: 25%;
    top: 54%;
}

.card2{
    left: 50%;
    top: 12.5%;
}

.card3{
    left: 50%;
    top: 54%;
}

.card4{
    left: 75%;
    top: 12.5%;
}

.card5{
    left: 75%;
    top: 54%;
}


.card:hover,
 .card1:hover
 , .card2:hover
 , .card3:hover
 , .card4:hover
 , .card5:hover{
    height:255px ;
}

.card .pb img {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translate(-50% , 0%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
    border-radius: 50px;
    box-shadow:  0 15px 50px rgba(0,0,0,0.35);
    transition: all 0.4s ease-in-out;
}

 .card1 .pb img{
position: absolute;
    top: -45px;
    left: 50%;
    transform: translate(-50% , 0%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
    border-radius: 50px;
    box-shadow:  0 15px 50px rgba(0,0,0,0.35);
    transition: all 0.4s ease-in-out;
 }

  .card2 .pb  img{
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translate(-50% , 0%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
    border-radius: 50px;
    box-shadow:  0 15px 50px rgba(0,0,0,0.35);
    transition: all 0.4s ease-in-out;
 }

 .card3 .pb img {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translate(-50% , 0%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70px;
    width: 75px;
    border-radius: 50px;
    box-shadow:  0 15px 50px rgba(0,0,0,0.35);
    transition: all 0.4s ease-in-out;
 }

 .card4 .pb img{
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translate(-50% , 0%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
    border-radius: 50px;
    box-shadow:  0 15px 50px rgba(0,0,0,0.35);
    transition: all 0.4s ease-in-out;

 }

.card5 .pb img{
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translate(-50% , 0%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
    border-radius: 50px;
    box-shadow:  0 15px 50px rgba(0,0,0,0.35);
    transition: all 0.4s ease-in-out; 
}









.card:hover .pb img ,
 .card1:hover .pb img
, .card2:hover .pb img
, .card3:hover .pb img
, .card4:hover .pb img
, .card5:hover .pb img{
    height: 130px;
    width: 130px;
}

h1{
    font-size: 25px;
}

h2{
    font-size: 12px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 0px 0px ;
    transition: all 0.4s ease-in-out;
}

.card:hover .info , 
.card1:hover .info
, .card2:hover .info
, .card3:hover .info
, .card4:hover .info
, .card5:hover .info{
    display: flex;
    padding: 100px 0px 10px 0px;
}

.detail{
    position: relative;
    display: flex;
    opacity: 0;
    z-index: -10;
    justify-content: space-between;
    padding: 25px 30px ;
    transform: translateX(-20px);
    transition-timing-function: linear;
    transition-duration: 0s , 0.2s , 0.2s ;
    transition-property: z-index , opacity ,transform;
    transition-delay: 0.2s ,0s ,0s ;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col{
    position: relative;
    display: flex;
    opacity: 0;
    z-index: -10px;
    padding:10px 50px  ;
    justify-content: space-between;
    transform: translateX(-20px);
    transition-timing-function: linear;
    transition-duration: 0s , 0.2s , 0.2s ;
    transition-property: z-index , opacity ,transform;
    transition-delay: 0.2s ,0s ,0s ;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
   
  }
  
  .container ul {
    display: flex;
    position: relative;
    gap: 4px;
  }
  
  .container ul li {
    position: relative;
    list-style: none;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 10s;
  }
  
  
  .container ul li:hover:before {
    inset: 0;
  }
  
  .container ul li:after {
    content: "";
    position: absolute;
    inset: 0;

    transform: rotate(45deg);
  }
  .container ul li:hover {
    z-index: 1000;
    transform: scale(0.5);
  }
  
  .container ul li a {
    position: relative;
    text-decoration: none;
    color: var(--clr);
    font-size: 1.3em;
    z-index: 10;
    transition: 0.5s;
  }
  
  .container ul li a:hover {
    font-size: 3em;
    filter: drop-shadow(0 0 0px var(--clr)) drop-shadow(0 0 20px var(--clr))
      drop-shadow(0 0 0px var(--clr));
  }
  
  
  .card:hover .detail, 
  .card1:hover .detail
  , .card2:hover .detail
  , .card3:hover .detail
  , .card4:hover .detail
  , .card5:hover .detail {
    opacity: 1;
    z-index: 0;
    transform: translateX(0px);
    transition-timing-function: linear;
    transition-duration: 0s ,0.3s ,0.3s ;
    transition-property: z-index , opacity ,transform;
    transition-delay: 0s ,0.2s ,0.2s ;
  }

.final{
    position: absolute;
    font-size: 20px;
    color: beige;
    top: 86%;
    left: 4%;
    text-shadow: 2px 4px 5px rgba(48, 48, 47, 0.9);
}

.final span{
    padding-left: 5px;
    font-family: 'oarell ';
    text-shadow: 2px 4px 4px rgba(48, 48, 47, 0.9);
}
.fp{
    margin-top: 15px;
    position: absolute;
    font-size: 18px;
    color: #1d1c1a;
    top: 90%;
   left: 4%;
   text-shadow: 2px 4px 5px rgba(48, 48, 47, 0.9);    
}
