::selection {
    color: #D1bb84;
}

.back {

    background-color: #6d6a64;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    right: 0px;
    font-family: "lato";

}


.div3 {


    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    text-align: center
}

.div3-1 {


    position: fixed;

    top: 0;
    left: 0px;
    width: 25%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    text-align: center
}

.div3-1-1 {

    position: relative;
    color: #000000;
    font-size: 23px;
    top: -5px;
    font-family: 'aorell';
    right: 15%;
    text-align: center
}

/*
#side-menu {
    position: fixed;

    right: -250px;
    /* start offscreen */
/*
    width: 250px;
    height: 100%;
    bottom: -10%;
    background-color: #333;
    transition: all 0.5s ease-in-out;
    /* animate the transition */
/*
    padding: 00%;
}
*/
/* #side-menu a {
    display: block;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
} */

/* 
#menu.open {
    transform: translateX(0px);
}
 */



#menuButton {
    position: fixed;
    right: 0;
    background-color: rgb(191 189 184);
    color: #ffffff;
    border: 2px solid rgb(191 189 184);
    float: right;
    height: 10%;
    width: 11%;
    top: 0%;
    text-align: center;
}

#menuButton:hover {
    background-color: rgb(191 189 184);
    opacity: 50%;
}


#side-menu {
    position: fixed;
    right: -100%;
    /* start offscreen */
    width: 11%;
    height: 40%;
    bottom: 50%;
    background-color: #ffffff;
    opacity: 1;
    transition: all 0.7s ease-in-out;
    /* animate the transition */
    padding: 00%;
    z-index: 1;
}

#side-menu a {
    display: block;
    color: #1d1c1a;
    font-family: "lato";
    font-size: 16px;
    margin-bottom: 30px;
    text-decoration: none;
    text-shadow: 2px 4px 4px rgba(47, 48, 48, 0.2);
}

#side-menu a:hover {
    text-shadow: 2px 4px 4px rgba(47, 48, 48, 0.6)
}

#menu.open {
    transform: translateX(0px);
}

#menuButton:hover #side-menu {
    display: block;
}


.home {
    color: #1d1c1a;

    opacity: 0.6;
    position: relative;
    text-decoration: none;
    float: left;

    top: -50px;
    left: 115%;
    font-size: 15px;
    display: grid;
    font-family: "lato";
    font-weight: 399;

    /* height: 100vh; */
    place-items: center;

}


.home:hover {
    color: #000000;
    font-weight: 900;
    text-shadow: 2px 4px 4px rgba(47, 48, 48, 0.6)
}

.home:active {
    color: #000000;
    font-weight: 900
}

.serve pre {
    color: #1d1c1a;
    position: relative;
    text-decoration: none;
    float: left;
    opacity: 0.6;
    top: -64px;
    left: 135%;
    font-size: 15px;
    display: grid;
    font-family: "lato";

    font-weight: 399;
    /* height: 100vh; */
    place-items: center;

}

.serve pre:hover {
    color: #000000;
    font-weight: 900;
    text-shadow: 2px 4px 4px rgba(47, 48, 48, 0.6)
}

.serve pre:active {
    color: #000000;
    font-weight: 900
}

.shop {
    color: #000000;
    position: relative;
    text-decoration: none;
    float: left;

    top: -50px;
    left: 155%;
    font-size: 15px;
    display: grid;
    font-family: "lato";

    font-weight: 900;
    /* height: 100vh; */
    place-items: center;


}

.shop:hover {
    color: #000000;
    font-weight: 900;
    text-shadow: 2px 4px 4px rgba(47, 48, 48, 0.6)
}


.work {
    color: #1d1c1a;
    opacity: 0.6;
    position: relative;
    text-decoration: none;
    float: left;

    top: -50px;
    left: 180%;
    font-size: 15px;
    display: grid;
    font-family: "lato";

    font-weight: 399;
    /* height: 100vh; */
    place-items: center;


}

.work:hover {
    color: #000000;
    font-weight: 900;
    text-shadow: 2px 4px 4px rgba(47, 48, 48, 0.6)
}

.prof {
    color: #1d1c1a;
    opacity: 0.6;
    position: relative;
    text-decoration: none;
    float: left;

    top: -68px;
    left: 242%;
    ;
    font-size: 15px;
    display: grid;
    font-family: "lato";

    font-weight: 399;
    /* height: 100vh; */
    place-items: center;
}

.prof:hover {
    color: #000000;
    font-weight: 900;
    text-shadow: 2px 4px 4px rgba(47, 48, 48, 0.6)
}


.black {
    position: absolute;
    background-color: #1d1c1a;
    height: 90%;
    width: 30%;
    top: 10%;
    border-radius: 0px 850px 670px 0px;

}

.num p {
    position: relative;
    color: white;
    display: inline-block;
    top: 119px;
}

.one {
    left: 50px;
}

.two {
    left: 80px;
}

.three {
    left: 110px;
}

.four {
    left: 140px;
}


.txtblack {
    font-family: 'lato';
    position: relative;
    left: -60px;
    top: 105px;
    color: white;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
}

.circle1 {
    position: relative;
    display: inline-block;
    background-color: #D1bb84;
    width: 1.5%;
    height: 1%;
    border-radius: 100%;
    top: 120px;
    left: 50px;
}

.circle2 {
    position: relative;
    display: inline-block;
    background-color: #D1bb84;
    width: 1.5%;
    height: 1%;
    border-radius: 100%;
    top: 120px;
    left: 80px;
}

.circle3 {
    position: relative;
    display: inline-block;
    background-color: #D1bb84;
    width: 1.5%;
    height: 1%;
    border-radius: 100%;
    top: 120px;
    left: 110px;
}

.circle4 {
    position: relative;
    display: inline-block;
    background-color: #D1bb84;
    width: 1.5%;
    height: 1%;
    border-radius: 100%;
    top: 120px;
    left: 140px;
}

.circle5 {
    position: relative;
    display: inline-block;
    background-color: #D1bb84;
    width: 1.5%;
    height: 1%;
    border-radius: 100%;
    top: 120px;
    left: 170px;
}


.next {
    position: relative;
    background-color: #D1BB84;
    opacity: 0.9;
    color: white;
    font-weight: 600;
    height: 6%;
    width: 22%;
    border-radius: 20px;
    top: 310px;
    left: 35px;
}



.order {
    position: relative;
    font-size: 10px;
    background-color: #ffffff;
    opacity: 0.7;
    border: 3px dotted rgb(187, 0, 0);
    color: rgb(0, 0, 0);
    font-weight: 900;
    height: 8%;
    width: 34%;
    border-radius: 20px;
    top: 120px;
    left: 47px;
}


.order:hover {
    position: relative;
    font-size: 10px;
    background-color: #ffffff;
    opacity: 1;
   
    border: 3px  solid rgb(187, 0, 0);
    color: rgb(0, 0, 0);
    font-weight: 900;
    height: 8%;
    width: 34%;
    border-radius: 20px;
    top: 120px;
    left: 47px;
}

.imgN1 {
    position: relative;
    float: right;
    right: 85px;
    top: 15.3%;
}

.txtN1 {
    position: fixed;
    font-family: 'oarell';
    float: right;
    right: 210px;
    top: 15%;
    color: #D1bb84;
    font-size: 40px;
}

.carp {
    position: absolute;
    background-color: rgb(191 189 184);
    opacity: 0.8;
    height: 54%;
    width: 51%;
    top: 22%;
    left: 72%;
    border-radius: 150px;

}

.pow {
    position: relative;
    background-color: rgb(191 189 184);
    opacity: 0.8;
    height: 48%;
    width: 15%;
    top: 30%;
    left: 40%;
    border-radius: 150px;
}

.paint {
    position: relative;
    background-color: rgb(191 189 184);
    opacity: 0.8;
    height: 48%;
    width: 15%;
    top: -18%;
    left: 58%;
    border-radius: 150px;
}

.plum {
    position: relative;
    background-color: rgb(191 189 184);
    opacity: 0.8;
    height: 48%;
    width: 15%;
    top: -66%;
    left: 76%;
    border-radius: 150px;
}


.imgcarp {
    position: relative;
    left: 28%;
    top: 15%;
    width: 90px;
    height: 90px;


}

.imgpow {
    position: relative;
    left: 28%;
    top: 15%;
    width: 90px;
    height: 90px;

}

.imgplum {
    position: relative;
    left: 28%;
    top: 15%;
    width: 90px;
    height: 90px;


}

.imgpaint {
    position: relative;
    left: 28%;
    top: 15%;
    width: 90px;
    height: 90px;

}


.div1-3 {
    position: fixed;
    right: 42px;
    background-color: rgb(191 189 184);
    color: #000000;
    border: 2px solid rgb(191 189 184);
    float: right;
    height: 8%;
    width: 3.6%;
    top: 51%;
    text-align: center;
    font-weight: 900;
    border-radius: 100%;

}

.div1-4 {
    position: fixed;
    right: 42px;
    background-color: rgb(191 189 184);
    color: #000000;
    border: 2px solid rgb(191 189 184);
    float: right;
    height: 8%;
    width: 3.6%;
    top: 60%;
    text-align: center;
    font-weight: 900;
    border-radius: 100%;

}

.div1-3:hover {
    background-color: rgb(191 189 184);
    border: 2px solid rgb(191 189 184);
    opacity: 50%;
}

.div1-4:hover {
    background-color: rgb(191 189 184);
    border: 2px solid rgb(191 189 184);
    opacity: 50%;
}


.contact {
    position: fixed;
    right: 50px;
    color: #1d1c1a;
    font-weight: 900;
    float: right;
    font-family: "lato";
    top: 93%;
    font-size: 17px;
}

.contact:link {
    text-decoration: none;
}

.follow {
    position: fixed;
    left: 50px;
    color: white;
    font-weight: 550;
    float: right;
    font-family: "lato";
    top: 93%;
}

.follow:link {
    text-decoration: none;
}

.carptextN1 {
    position: relative;
    font-size: 25PX;
    font-family: "lato";
    top: 20%;
    left: 7%;
    font-weight: 800;
    color: #1d1c1a;
}


.powtextN1 {
    position: relative;
    font-size: 25PX;
    font-family: "lato";
    top: 20%;
    left: 16%;
    font-weight: 800;
    color: #1d1c1a;
}


.painttextN1 {

    position: relative;
    font-size: 25PX;
    font-family: "lato";
    top: 20%;
    left: 17%;
    font-weight: 800;
    color: #1d1c1a;
}



.plumtextN1 {
    position: relative;
    font-size: 25PX;
    font-family: "lato";
    top: 20%;
    left: 16%;
    font-weight: 800;
    color: #1d1c1a;
}



.carptextN2 {
    position: relative;
    font-size: 15PX;
    font-family: "lato";
    top: 22%;
    left: 1%;
    color: #1d1c1a;
    ;
    opacity: 50%;
    text-align: center;
}


.powtextN2 {
    position: relative;
    font-size: 15PX;
    font-family: 'lato';
    top: 22%;
    left: 1%;
    color: #1d1c1a;
    opacity: 50%;
    text-align: center;
}

.plumtextN2 {
    position: relative;
    font-size: 15PX;
    font-family: 'lato';
    top: 22%;
    left: 1%;
    color: #1d1c1a;
    opacity: 50%;
    text-align: center;
}



.painttextN2 {
    position: relative;
    font-size: 15PX;
    font-family: "lato";
    top: 22%;
    left: 1%;
    color: #1d1c1a;
    opacity: 50%;
    text-align: center;
}


.btn {
    position: relative;
    background-color: gray;
    border: 2px solid gray;
    opacity: 70%;
    font-size: large;
    border-radius: 150px;
    color: white;
    width: 29px;
    height: 29px;
    top: 32%;
    left: 25%;
    margin: 5px;
}

.btn:hover,
.btn1:hover,
.btn4:hover {
    background-color: rgb(194, 194, 194);
    border: 2px solid rgb(194, 194, 194);
}

.btn1 {
    position: relative;
    background-color: gray;
    border: 2px solid gray;
    opacity: 70%;
    font-size: large;
    border-radius: 150px;
    color: white;
    width: 29px;
    height: 29px;
    top: 42%;
    left: 25%;
    margin: 5px;
}

.btn4 {
    position: relative;
    background-color: gray;
    border: 2px solid gray;
    opacity: 70%;
    font-size: large;
    border-radius: 150px;
    color: white;
    width: 29px;
    height: 29px;
    top: 32%;
    left: 25%;
    margin: 5px;
}

.cnt {
    position: relative;
    font-size: 13px;
    top: 24%;
    left: 47%;
    color: rgb(197, 0, 0);
    font-weight: 800;
}

.cnt1 {
    position: relative;
    font-size: 13px;
    top: 24%;
    left: 47%;
    color: rgb(197, 0, 0);
    font-weight: 800;
}

.cnt4 {
    position: relative;
    font-size: 13px;
    top: 24%;
    left: 47%;
    color: rgb(197, 0, 0);
    font-weight: 800;
}


@media screen and (max-width:400px) {

    .txtN1 {
        font-family: 'oarell';
        top: 20%;
        right: 175px;
    }

    .imgN1 {
        width: 38px;
        height: 38px;
        right: 7px;
        position: fixed;
        top: 20.5%
    }

    .imgcarp {
        width: 41px;
        height: 40px;
        left: 39%;
        top: 5%;
        opacity: 2;

    }

    .black {
        width: 88%;
        height: 83%;
        left: -159px;
        top: 19%;
    }

    .imgpaint {
        width: 41px;
        height: 40px;
        left: 41%;
        top: 5%;
    }

    .imgplum {
        width: 41px;
        height: 40px;
        left: 35%;
        top: 5%;
        opacity: 2;
    }

    .imgpow {
        width: 41px;
        height: 40px;
        left: 35%;
        top: 5%;

    }

    .powtextN1 {
        font-size: 13px;
        top: 7%;
        left: 30%
    }

    .powtextN2 {
        font-size: 11px;
        top: 11%;
    }

    .cnt {
        top: 5%;
    }

    .btn {
        left: 16%;
        width: 25px;
        height: 25px;
        top: 20%;
    }

    .pow {
        height: 21%;
        width: 39%;
        position: absolute;
        left: 50%;
        top: 25%;
    }

    .paint {
        height: 21%;
        width: 39%;
        position: absolute;
        left: 50%;
        top: 49%;
    }

    .painttextN1 {
        font-size: 13px;
        top: 7%;
        left: 30%;
    }

    .painttextN2 {
        font-size: 11px;
        top: 11%;

    }

    .cnt1 {
        top: 7%;
    }

    .cnt4 {
        top: 10%;
    }

    .txtblack {
        font-size: 12px;
        left: 46%;
        top: 160px;
        position: inherit;
    }

    .one {
        top: 96px;
        left: 45%;
    }

    .two {
        top: 96px;
        left: 51%;
    }

    .three {
        top: 96px;
        left: 57%;
    }

    .four {
        top: 96px;
        left: 62%;
    }



    .btn1 {
        left: 16%;
        width: 25px;
        height: 25px;
        top: 31%;
    }

    .plum {
        height: 21%;
        width: 39%;
        position: absolute;
        left: 50%;
        top: 73%;
    }

    .plumtextN1 {
        font-size: 16px;
        top: 11%;
        left: 18%;
    }

    .carptextN1 {
        font-size: 13px;
        top: 7%;
        left: 22%;
    }

    .carp {
        height: 27%;
        width: 47%;
        top: 37%;
        left: 55%;
    }

    .carptextN2 {
        font-size: 11px;
        top: 11%;
    }

    .circle1 {
        left: 45%;
        top: 340px;
    }

    .circle2 {
        left: 52%;
        top: 340px;
    }

    .circle3 {
        left: 59%;
        top: 340px;
    }

    .circle4 {
        left: 67%;
        top: 340px;

    }

    .circle5 {
        left: 75%;
        top: 340px;
    }

    .div1-3 {
        width: 13%;
        top: 40%;
        right: 1%;
        height: 7%;

    }

    .div1-4 {
        width: 13%;
        top: 48%;
        right: 1%;
        height: 7%;
    }

    .contact {
        top: 96%;
        right: 16px;
    }

    .follow {
        left: 1%;
        top: 96%;
    }

    .next {
        left: 40%;
        top: 395px;
    }

    .btn4 {
        left: 15%;
        top: 25%;
    }

    .div3 {
        height: 20%;
    }

    #myImage {
        width: 60%;
        height: 50%;
        left: 0px;
        top: 21%;
    }

    .div3-1-1 {
        left: 75%;
        position: absolute;
        font-size: 27px;
    }

    #menuButton {
        width: 30%;
        border-radius: 4px;
    }

    .home {
        top: 108px;
        left: 1%;
        font-size: 12px;
    }

    .serve pre {
        top: 95px;
        position: absolute;
        left: 60%;
        font-size: 12px;
    }

    .shop {
        left: 133%;
        top: 108px;
        font-size: 12px;
    }

    .work {
        top: 93px;
        left: 235%;
        font-size: 12px;
    }

    .prof {
        top: 79px;
        left: 321%;
        font-size: 12px;
    }


}